@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-custom: "Proxima Nova Condensed", Calibri, Arial Narrow, "Roboto Condensed", Trebuchet MS, Tahoma, sans-serif,
               "Abril Fatface", "Chalkboard SE", "Comic Neue", cursive;
  --font-new: 'Didot', serif;

}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}